<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-trtc" version="1.0.0">
	<name>TRTC</name>
	<description>Cordova Plugin for QCloud TRTC</description>
	<license>MIT</license>
	<keywords>cordova,trtc,webrtc,videocall,qcloud,tencent</keywords>
	<js-module src="www/trtc.js" name="TRTC">
		<clobbers target="TRTC" />
	</js-module>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
		</config-file>
		<framework src="com.tencent.liteav:LiteAVSDK_TRTC:latest.release" />
		<source-file src="src/android/com/helpfooter/trtc/TRTC.java" target-dir="src/com/helpfooter/trtc/" />
		<source-file src="src/android/com/helpfooter/trtc/TRTCService.java" target-dir="src/com/helpfooter/trtc/" />
		<source-file src="src/android/com/helpfooter/trtc/VideoRoomActivity.java" target-dir="src/com/helpfooter/trtc/" />
	</platform>
</plugin>
