<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-trtc" version="1.0.0">
	<name>TRTC</name>
	<description>Cordova Plugin for QCloud TRTC</description>
	<license>MIT</license>
	<keywords>cordova,trtc,webrtc,videocall,qcloud,tencent</keywords>
	<js-module src="www/trtc.js" name="TRTC">
		<clobbers target="TRTC" />
	</js-module>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TRTC">
                <param name="android-package" value="com.helpfooter.trtc.TRTC"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.helpfooter.trtc.TRTC.VideoRoomActivity" android:screenOrientation="portrait"/>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
		</config-file>
		<framework src="com.tencent.liteav:LiteAVSDK_TRTC:latest.release" />
		<source-file src="src/android/com/helpfooter/trtc/TRTC.java" target-dir="src/com/helpfooter/trtc/" />
		<source-file src="src/android/com/helpfooter/trtc/TRTCService.java" target-dir="src/com/helpfooter/trtc/" />
		<source-file src="src/android/com/helpfooter/trtc/VideoRoomActivity.java" target-dir="src/com/helpfooter/trtc/" />
		<resource-file src="src/android/res/layout/trtc_videocall_main.xml" target="res/layout/trtc_videocall_main.xml" />
		<resource-file src="src/android/res/mipmap-xxhdpi/trtc_camerachange.png" target="res/mipmap-xxhdpi/trtc_camerachange.png" />
		<resource-file src="src/android/res/mipmap-xxhdpi/trtc_exit.png" target="res/mipmap-xxhdpi/trtc_exit.png" />
		<resource-file src="src/android/res/mipmap-xxhdpi/trtc_videoon.png" target="res/mipmap-xxhdpi/trtc_videoon.png" />
		<resource-file src="src/android/res/mipmap-xxhdpi/trtc_videooff.png" target="res/mipmap-xxhdpi/trtc_videooff.png" />
		<resource-file src="src/android/res/mipmap-xxhdpi/trtc_voiceoff.png" target="res/mipmap-xxhdpi/trtc_voiceoff.png" />
		<resource-file src="src/android/res/mipmap-xxhdpi/trtc_voiceon.png" target="res/mipmap-xxhdpi/trtc_voiceon.png" />
	</platform>
</plugin>
